/*
rose : #F27487
bleu : #004C59
*/

/*balises HTML */

body {
	background-color: #004C59;
}

head{
	background-color: #004C59;
}
nav{
    background-color: white;
    border-width:1px;
 text-align: center;
 font-family:'Clicker Script', cursive;
}

aside{
	background-color: #F2B999;
}
footer{
	background-color: #004C59;
}

/*élements de corps*/

h1{
	font-family:'Clicker Script', cursive;
	color:  #F27487;
	text-align: center;
	background-color: #004C59;
	font-size: 75px;
	padding-bottom:5px;
	padding-top: 5px;
}
a{
	text-decoration: none;
	color:#002740;
	font-family:'Clicker Script', cursive;
	font-size: 40px;
	padding-bottom:5px;
	padding-top: 5px;
}

/*id */


nav li {

	margin-left:150px;

}
footer{
	text-align: center;
	background-color: white;
	padding-bottom:5px;
	padding-top: 5px;
	font-family:'Clicker Script', cursive;
	font-size: 40px;
}

/*class*/
.container-fluid {
	border-style:dashed;
	background-color: #F27487;
	font-family:'Clicker Script', cursive;
}

.btn{
	font-size: 25px;
}
.navbar{
	border: none;
}
aside{
	border-style: groove; 
	text-align: center;
}

.separator {
	border-bottom: double 1px;
	border-style: groove;
	height: 5px;
}
	
.carousel-page
{
width:45%;
height:400px;
background-color:#5f666d;
color:white;
margin-left:380px;
}
