/*
rose : #F27487
bleu : #004C59
*/

/*balises HTML */

body {
	background-color: white;
}

header {
	background-color: white;
}
nav{
    background-color: white;
    border-width:1px;
 text-align: center;
 font-family:'Clicker Script', cursive;
}

aside{
	background-color: white;
}
footer{
	background-color: #004C59;
}

/*élements de corps*/

h1{
	font-family:'Clicker Script', cursive;
	color: #F27487;
	text-align: center;
	background-color: white;
	font-size: 75px;
	padding-bottom:5px;
	padding-top: 5px;
}
a{
	text-decoration: none;
	color:#002740;
	font-family:'Clicker Script', cursive;
	font-size: 40px;
	padding-bottom:5px;
	padding-top: 5px;
}
h2{
	text-align: center;
	margin-left:350px;
	margin-right: 350px;
}

/*id */


nav li {

	margin-left:150px;

}
footer{
	text-align: center;
	background-color: white;
	padding-bottom:5px;
	padding-top: 5px;
	font-family:'Clicker Script', cursive;
	font-size: 40px;
}

/*class*/
.container-fluid {
	border-style:dashed;
	background-color: #F27487;
	font-family:'Clicker Script', cursive;
}

.btn{
	font-size: 25px;
}
.navbar{
	border: none;
}
aside{
	border-style: groove; 
	text-align: center;
}

p {
  margin-top: 0px;
}
 
fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}
 
em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
 
input:focus {
  background: #eaeaea;
}
 
input, textarea {
  width: 249px;
}
 
textarea {
  height: 100px;
}
 
select {
  width: 254px;
}
 
input[type=checkbox] {
  width: 10px;
}
 
input[type=submit] {
  width: 150px;
  padding: 10px;
}
.separator {
	border-bottom: double 1px;
	border-style: groove;
	height: 5px;
}
	
.carousel-page
{
width:45%;
height:400px;
background-color:#5f666d;
color:white;
margin-left:380px;
margin-right: 100px;
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: url('warao.jpg') no-repeat;
}